
html,body {height: 100%; margin: 0; padding: 0;}
body {font-family: "Montserrat", sans-serif;}
table {width: 100%; height: 100%; margin: 0; padding: 0; border-collapse: collapse;}
tr {height: 100%;}
td.cell01 {background-color: blue;width: 50%;}
td.cell02 {background-color: cyan;width: 50%;}
